:root {
	font-family: Roboto, Arial, Helvetica, sans-serif;
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

#app {
	display: flex;
	flex-direction: column;
}
.jsreact-error {
	padding: 0 16px;
}
