:root {
	font-family: Roboto, Arial, Helvetica, sans-serif;
	color: #222;
	background-color: #ffffff;
}
@media (prefers-color-scheme: dark) {
	:root {
		color: #ccc;
		background-color: #1a1a1a;
	}
}
html, body {
	width: 100%;
	height: 100%;
}

#app {
	display: flex;
	flex-direction: column;
}
